@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@navbar-borders:    5%;

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    text-align: right;
    box-shadow: 0px 5px 20px -5px #DBDBDB; 
    padding: 0 @navbar-borders;

    .menu {
        padding: 0;
        margin: 0;
        height: 100%;

        .menu__item {
            height: 100%;
            display: inline-block;
            cursor: pointer;

            .menu__link {
                padding: 30px 15px;
                display: block;
                text-decoration: none;
                color: #0C540C;
                font-family: 'Lato', sans-serif;
                font-weight: light;

                &:hover {
                    color: #000;
                }
            }            
        }

    }
}

.navbar__logo {
    position: absolute;
    text-align: left;
    top: 10%;
    left: @navbar-borders;
    height: 80%;
}